@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />

    <form action="../Home/MovieSearch" method="post">
        <input type="text" name="title" placeholder="Movie Title" value="" />
        <br />
        <br />
        <input type="text" name="year" placeholder="Year Released" value="" />
        <br />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="submit" />
        <br />
        <br />
        <br />

    </form>




