@{
    ViewData["Title"] = "Home Page";
}

    <form action="../Home/MovieSearch" method="post">
        <input type="text" name="title" placeholder="Title" />
        <br />
        <br />
        <input type="text" name="year" placeholder="Year Released" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="submit" />
        <br />  

    </form>
