@model MovieSearch
@{
    ViewData["Title"] = "MovieSearch";
}

<h1>MovieSearch</h1>

@foreach(var m in Model.Search)
{
    <p>@m.Title</p>
    <p>@m.Year</p>
    <button onclick="window.location.href='../Home/AddToFavorites?movieId=@m.imdbID'">Add To Favorites</button>
}

                                                                                                                                                                                                 