
@{
    ViewData["Title"] = "MovieTrailer";
}
@model string
<h1>MovieTrailer</h1>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/@Model" allowfullscreen></iframe>
</div>
