@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal3">
                    Search For Titles
                </button>
            </li>
            <li>
                <a>&emsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>

            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {

            <li>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal3">
                    Search For Titles
                </button>
            </li>
            <li>
                <a>&emsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal3Label">Search Titles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="../Home/MovieSearch" method="post">
                <div class="modal-body">

                    <input type="text" name="title" placeholder="Title" />
                    <input type="text" name="year" placeholder="Year Released" />

                </div>
                <div class="modal-footer">
                    <input class="btn btn-secondary btn-outline-primary text-light" type="submit" value="Search" />
                    <button type="button" class="btn btn-secondary btn-outline-danger text-light" data-dismiss="modal">Close</button>
                    

                </div>
            </form>
        </div>
    </div>
</div>
